/*********** GENEAL STYLES ***********/

body{
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden
}

.montserrat-medium{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.montserrat-light{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.abril{
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 1px
}

.main-color-text{
  color:black
}

.no-margin-top{
  margin-top:0px !important
}

.no-margin{
  margin:0px !important
}

.section{
  padding:80px 0px
}

.link-web{
  color: black;
  padding-left: 10px;
  position: relative;
  bottom: 32px;
  font-weight: bolder;
  text-decoration: underline;
}
/*********** WELCOME PAGE ***********/

#welcome{
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 999;
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

#welcome.show{
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
}

#welcome img{
  position: absolute;
  top: 50%;
  left: 50%;
  opacity:0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
}

#welcome img.show{
  opacity: 1;
}

/*********** HEADER ***********/

header{
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0px;
  padding-top: 15px;
  font-family: 'Abril Fatface', cursive;
  font-size: 22px;
  letter-spacing: 1px;
}

#logo{
  height: 80px;
  display: block;
  margin: 0 auto;
}

.list-horizontal li{
  display:inline-block;
  padding-left: 10px
}

.right-text{
  text-align: right
}

/*********** FOOTER ***********/

.social-list img{
  height: 20px;
}

footer{
  position: fixed;
  width: 100%;
  bottom: 0px;
}

/*********** SLIDERS ***********/


.hidden-arrow{
  overflow: hidden;
}

.slider-work{
  padding:60px 0px
}

#work1{
  background:#dbf025;
}

#work3{
  background: #5dc7d5
}

#work4{
  background: #1a1556
}

#work5{
  background: #e2ccbf
}

#work1 .custom-arrow i{
  color:#ec7071
}

#work3 .custom-arrow i{
  color:#84fec1
}

#work2 .custom-arrow i,
#work5 .custom-arrow i{
  color:black
}

#work4 .custom-arrow i{
  color:#ecfc51
}

#about .custom-arrow i{
  color:white
}

.slider-work .slick-prev,
.slider-work .slick-next{
  z-index: 100 !important;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.slider-work:hover .slick-prev{
  left: 2px !important;
}

.slider-work:hover .slick-next {
  right: 45px !important  
}

.slick-next:before,
.slick-prev:before{
  content: '' !important
}

.main-slider{
  background: #e6e6e6;
  padding-top:100px
}

.slick-slide img{
  display: block;
  max-width: 100%;
  margin:0 auto
}

/*********** CONTACT / ABOUT ***********/

#about,
#contact{
  background:black
}

#contact{
  color: #7f3d75
}

.contact-info{
  font-size: 17px;
  margin:0px !important
}

a.contact-info{
  color: #7f3d75;
  text-decoration: underline
}
a.contact-info:hover{
  color:#007765;
}

.title-about{
  color:#007765;
  font-size: 22px;
  line-height: 23px;
}

.description-about{
  color:#7f3d75;
  font-size: 14px
}

.list-detail li{
  position: relative;
}

.list-detail li:first-child{
  padding-bottom:20px
}

.list-detail li span{
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit;
}

@media (min-width: 601px){
  .border-left{
    border-left: 1px solid #007765;
  }

  .border-top{
    padding-top:15px !important;
    border-top:1px solid #007765
  }

  #about .slick-slide{
    padding:0px 40px
  }

  .contact-list{
    padding-top:55px !important
  }
  
  .list-detail li span{
    left: -3em;
  }
  
  #welcome img{
    width: 300px;
  }

  .slider-work .slick-prev{
    left: -64px !important;
  }
  
  .slider-work .slick-next {
    right: -18px !important;
  }

}

@media( max-width: 600px ){

  #about .slick-slide{
    padding:0px 15px
  }

  .border-left{
    padding-left: 0px !important;
    padding-top: 15px !important;
  }

  .contact-list{
    text-align: left !important;
    padding-top:11px
  }

  .contact-list li{
    padding-left: 6px;
    padding-right: 10px 
  }

  .list-detail li{
    padding-left: 44px;
  }

  .list-detail li span{
    left: 0em;
  }

  #welcome img{
    width: 200px;
  }

  .slider-work .slick-prev {
    left: -14px !important;
  }

  .slider-work .slick-next {
    right: 22px !important;
  }
  
}

